@using WebApplication.Models.Models
@model WebApplication.Models.PrefixVM

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Prefix</title>
</head>
<body>
    
</body>
</html>
