@model IEnumerable<WebApplication.Models.Models.SmsConfiguration>

@{
    ViewBag.Title = "AllCustomer";
    Layout = "~/Views/Layout/DefaultLayout.cshtml";
}


<div class="row">
    <div class="col-lg-6 mb-5">
        <div class="card shadow mb-5">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">GÖNDERİLMESİNİ İSTEDİĞİNİZ KİŞİLERİ SEÇİNİZ</h6>
            </div>
           <form>
            <div class="card-body">
                    <div>
                        Hepsini Seç <input class="checkbox" name="HepsiniSec" type="checkbox" id="HepsiniSec">
                    </div>

                <div id="myTable"> </div>
                
            </div>



               <!-- buradan -->
               <table cellpadding="0" cellspacing="0">
                   <tr>
                       <nav aria-label="Page navigation example">
                           <ul class="pagination">
                               <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                               <li class="page-item active"><a class="page-link" name="Page" onclick="Page(1)" href="#">1</a></li>
                               @for (int i = 1; i <=Model.Count()/25; i++)
                               {
                                   <li class="page-item"><a class="page-link" name="Page" onclick="Page('@(i+1)')" href="#"> @(i+1)</a></li>
                               }
                               <li class="page-item"><a class="page-link" name="Next" href="#">Next</a></li>
                           </ul>
                       </nav>
                   </tr>
               </table>
               <input type="hidden" id="hfCurrentPageIndex" name="currentPageIndex" />
               <!-- buraya  -->



            </form>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-6 mb-5">
        <div class="card shadow mb-5">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">GÖNDERİLMESİNİ İSTEDİĞİNİZ KİŞİLERİ SEÇİNİZ</h6>
            </div>
            <div class="card-body">
                <div>
                        <div class="form-group">
                             <label for="exampleFormControlTextarea1">Mesaj Konusu:</label>
                             <textarea class="form-control" id="MesajKonusu" rows="1"></textarea>
                        </div>
                 </div>
                 <div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Gönderilecek Mesaj:</label>
                                <textarea class="form-control" id="GonderilecekMesaj" rows="3"></textarea>
                            </div>
                  </div>
                        <div>
                            <button class="btn btn-success" id="btn">Mail Gönder</button>
                        </div>
            </div>
        </div>
    </div>
</div>


<script>
    function Page(veri) {
        alert(veri);
        $('#myTable').html('');
        $.ajax({
            method: "POST",
            url: "/home/GetAllCustomer",
            data: { pageNumber: veri }
        }).done(function (msg) {
            $('#myTable').append(msg);
        });
        }
</script>

<script>
   
        $('input[id="HepsiniSec"]').click(function () {
            if ($(this).prop("checked") == true) {

                $(".checkBoxClass").prop('checked', true);
            }
            else if ($(this).prop("checked") == false) {
                $(".checkBoxClass").prop('checked', false);
            }
        }); 
    
</script>
    
<script>
    $("#btn").click(function () {
        var searchIDs = $("input:checkbox:checked").map(function () {
            return $(this).val();
        }).get();
        $.ajax({
            method: "POST",
            url: "/home/SMSEkrani",
            data: {
                chkData:searchIDs, mesaj: $("#GonderilecekMesaj").val(), MesajKonusu: $("#MesajKonusu").val()
            }
        }).done(function (msg) {
          
        });
    });
</script>